# Node.js modules
node_modules/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env

# Database
*.sqlite
*.db
*.db-wal
*.db-shm
dump.rdb

# OS-specific files
.DS_Store
Thumbs.db

# Editor-specific files
.vscode/
.idea/
*.swp

# Debugging
coverage/
.nyc_output/
debug/

# Deployment-specific
dist/
build/

# Temporary files
*.tmp
*.temp

# Optional npm/yarn/lock files (if using multiple package managers, only keep one lock file)
package-lock.json
yarn.lock

# MongoDB files
*.lock
mongod.lock
